.carousel {
  width: 100vw;
  height: 38rem;
  position: relative;
  overflow: hidden;
  transition: all 3s;
}

.car-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.car-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-1 {
  animation: img1 8s linear infinite;
}

@keyframes img1 {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(0%);
  }
  52% {
    transform: translateX(-100%);
  }
  98% {
    transform: translate(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.img-2 {
  transform: translateX(100%);
  animation: img2 8s linear infinite;
}

@keyframes img2 {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(100%);
  }
  52% {
    transform: translateX(0%);
  }
  98% {
    transform: translate(0%);
  }
  100% {
    transform: translate(-100%);
  }
}

@media (max-width: 500px) {
  .carousel {
    height: 30rem;
  }
}
