* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px/16px = 0.625= 62.5% */
  font-size: 62.5%;
  overflow-x: hidden;
  position: relative;
}

.disable-v-scroll {
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 4rem;
  margin: 3rem 0;
  text-align: center;
}

body {
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 1500px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 990px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 860px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 43.75%;
  }
}
